$primary-color: #94cb53;
$secondary-color: #07cc7c;
$light-color: #FFFFFF;
$dark-color: #212529;
$grey-color: #CCCCCC;
$primary-background: #222833;
$secondary-background: #283449;

$primary-font: 'Barlow', sans-serif;
$secondary-font: 'Orbitron', sans-serif;