@use './partials/variables' as*;
@use './partials/mixins' as*;

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Orbitron:wght@600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 18px;
	color: $light-color;
	font-family: 'Barlow', sans-serif;
}

.my-text-primary {
	color: $primary-color;
}

.my-text-light {
	color: $light-color;
}

.my-text-dark {
	color: $dark-color;
}

.my-text-grey {
	color: $grey-color
}

.my-font-primary {
	font-family: $primary-font;
}

.my-font-secondary {
	font-family: $secondary-font;
}

.my-bg-primary {
	background-color: $primary-color;
}

.my-bg-secondary {
	background-color: $secondary-color;
}

.my-border-secondary {
	border-color: $secondary-color;
}

.my-bg-light {
	background-color: $light-color;
}

.my-bg-dark {
	background-color: $primary-dark-background;
}

.p-120 {
	padding: 120px 0;
}

.my-translate-25-x {
	transform: translateX(-25%);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #5234bf #00003b;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: #00003b;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #5234bf;
    border-radius: 0px;
    border: 0px solid #ffffff;
  }