@use './partials/variables' as*;
@use './partials/mixins' as*;

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Orbitron:wght@600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 18px;
	color: $light-color;
	font-family: 'Barlow', sans-serif;
}

.my-text-primary {
	color: $primary-color;
}

.my-text-light {
	color: $light-color;
}

.my-font-primary {
	font-family: $primary-font;
}

.my-font-secondary {
	font-family: $secondary-font;
}